.settingsContainer {
  display: contents;
}

.heading {
  grid-column: 1/-1;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
  margin-top: 24px;
}

.description {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.inputWrapper {
  display: flex;
  justify-self: end;
}
